.blue-color{
  color: blue;
      }

body {
  background: linear-gradient(rgb(8, 181, 219), rgb(228, 17, 155));
  height: 1048px;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
      }

header {
  background-color: #111fbba9;
  padding: 30px;
  text-align: center;
  color: white;
}

main {
  margin: 20px;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #333;
  text-align: center;
}

main img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0px 0px 10px #ccc;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}


header h1 {
  animation: rainbow 3s ease-in-out infinite;
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  25% {
    color: #ffff00;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #00ffff;
  }
  100% {
    color: #ff00ff;
  }
}