html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 95vw;
    background-image: url('image/loaded.png');
    background-repeat : no-repeat;
    background-size : cover;
    align-items: center;
}