body {
   font-family: Arial, sans-serif;
   height: 100vh;
   width: 95vw;
   margin-left: 35px;
   background-image: url('image/netflix_bg2.png');
   background-repeat : no-repeat;
   background-size : cover;
   align-items: center;
}

header {
   padding-top: 16.5px;
   padding-left: 15px;
}

.login-container {
   padding-left: 63px;
   padding-right: 63px;
   margin: auto;
   margin-bottom: 70px;
   width: 322px;
   height: 660px;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.687);
   border-radius: 5px;
}

.tabs {
   display: flex;
   justify-content: left;
   margin-top: 50px;
   color: white;
   font-weight: 200;
   font-size: 2em;
}

form {
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.active-form {
   display: flex;
   margin-bottom: 80px;
}
  
input[type="text"],
input[type="password"] {
   width: 92%;
   height: 30px;
   padding: 10px;
   margin-bottom: 17px;
   border-style: none;
   border-radius: 5px;
   background-color: rgb(53, 53, 53);
   font-size: 1em;
   color:rgb(128, 128, 128);
}
  
button[type="button"] {
   width: 98%;
   height: 50px;
   padding: 10px 20px;
   margin-top: 20px;
   margin-bottom: 10px;
   border-style: none;
   border-radius: 5px;
   cursor: pointer;
   background-color: rgb(241, 10, 10);
   color: white;
   font-size:  1em;
}

.status-container {
   width: 100%;
}

.status-container, .save, #save, .help{
   color: grey;
   display: felx;
   justify-content: space-between;
}

.info {
   width : 850px;
   margin: auto;
   margin-bottom: 15px;
   padding : 0px;
   color: rgb(132, 132, 132);
}

.board-container, .faq, .customer, .terms, .private {
   padding: 0;
   display: flex;
   justify-content: space-between;
}

.secondbottom {
   width : 850px;
   margin: auto;
   padding : 0px;
   color: rgb(132, 132, 132);
   font-size: 0.75em;
}

.help {
   text-decoration-line: none;
   font-size: 13.5px;
   font-weight: 400;
   color: rgb(177, 177, 177);
}

a.help:hover {
   text-decoration: underline;
   text-decoration-thickness: 0.1px
}

a.now:hover {
   text-decoration: underline;
}

a#readmore:hover {
   text-decoration: underline;
   text-decoration-thickness: 0.1px;
   text-decoration-color: rgb(9, 123, 253);
}

a.blue:hover{
   text-decoration: underline;
   text-decoration-thickness: 0.1px;
   text-decoration-color: rgb(9, 123, 253);
}

.save {
   font-size: 13.5px;
   font-weight: 400;
   color: rgb(177, 177, 177);
}

.join {
   color: grey;
   font-size: 1em;
   font-weight: 400;
   text-align: left;
}

.now {
   text-decoration-line: none;
   font-size: 1em;
   font-weight: 400;
   color: white;
}

.notrobot {
   text-align: left;
   margin: 0px;
   padding: 0px;
   color: grey;
   font-size: 13px;
   font-weight: 200;
}

#readmore {
   text-decoration-line: none;
   color: rgb(9, 123, 253);
   font-weight: 500;
}

.bottom {
   margin-left: 10px;
}

#dviCon {
   display: none;
   font-size : 13px;
   color : grey;
   font-weight: 200;
   text-align: left;
}

.blue {
   text-decoration-line: none;
   color: rgb(9, 123, 253);
   font-weight: 200;
}

#save {
   accent-color: grey;
   zoom: 1.2;
}

.info, .board-container, .secondbottom{
   display: flex;
}

.board-container {
   width: 850px;
   margin: auto;
   color: grey;
   font-size: 13px;
   font-weight: 300;
   margin-bottom: 20px;
}

.bc {
   color: grey;
   text-decoration: none;
}

a.bc:hover {
   text-decoration: underline;
   text-decoration-thickness: 0.1px
}

.selectBox{
width : 850px;
margin : auto;
}

#select {
border-radius: 3px;
border: 1px solid rgb(125, 125, 125);
width: 135px;
height: 45px;
background-color: rgba(0, 0, 0, 0.562);
margin-bottom: 25px;
color: grey;
text-align: center;
}

#select > option {
background-color: rgba(0, 0, 0, 0.562);
color:rgb(177, 177, 177);
}