* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebarOption .material-icons,
.fa-twitter {
  padding: 5px;
}
.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 30px;
}
.sidebarOption:hover {
  background-color: var(--twitter-background);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sidebarOption.active {
  color: var(--twitter-color);
}
.sidebar__tweet {
  width: 100%;
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}
body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  min-width: 200px;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.fa-twitter {
  color: var(--twitter-color);
  font-size: 30px;
}
.leftcol {
  width:100px;
  height:auto;
  float:left;
}

.polaroid {
  width:100px;
  height:100px;
  float:left;
}

.polaroid img {
  border: 10px solid #fff;
  border-bottom: 75px solid #fff;
}
.link-menu {
  color: black;
}

.topbar-profile-photo {
  width: 1.5em; 
  height: 1.5em; 
  position: relative;
}

.story-profile-photo {
  width: 56px; 
  height: 56px; 
  position: relative; 
  border-width: 2px !important;
}

.post-profile-photo {
  width: 46px; 
  height: 46px; 
  position: relative; 
  border-width: 2px !important;
}

.sidenav-profile-photo {
  width: 56px; 
  height: 56px; 
  position: relative; 
}

.comment-box {
  border-top: 1px solid lightgray;
}

.input-post {
  outline: none;
}

.btn-ig {
  background-color: transparent;
  border: 0;
  color: #007bff;
  font-weight: 600;
  right: 0;
  bottom: 0;
  top: 0;
  outline: none !important;
}

.btn-ig:hover,
.btn-ig:focus {
  background-color: transparent !important;
  color: #007bff !important;
}

.profile-info {
  font-size: 14px;
}

.profile-info-username {
  display: block;
  font-weight: 700;
}

.sugest-profile-photo {
  width: 46px; 
  height: 46px;  
  position: relative;
}

.sugest-username {
  font-size: 14px
}
  
.footer .footer-section {
  margin-left: 0.5rem;
  color: #999999;
  font-size: 14px;
  font-family: sans-serif;
}
  
.footer a:hover {
  color: #ff0000;
}
    
  .col-3 {
    width: 33%;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
  }
    
  .col-3 h4 {
    color: rgb(100, 100, 100);
  }
    
  .col-3 .card {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    /* min-height: 400px; */
    display: inline-block;
  }
    
  .col-3 .card .top {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .col-3 .card .top a {
    color: #1d92ff;
  }
    
  .col-3 .card .bottom {
    padding: 10px 20px;
  }
    
  .col-3 .card .top .userDetails {
    width: 100%;
    display: flex;
    align-items: center;
  }
    
  .col-3 .card .top .userDetails h3 {
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
  }
    
  .col-3 .card .top .userDetails h3 span {
    font-size: 0.75em;
  }
    
  .col-3 .card .top .userDetails h3 span {
    font-size: 0.75em;
  }
    
  .col-9 .card {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    /* min-height: 400px; */
    display: inline-block;
    border: 1px solid rgba(7, 7, 7, 0.24);
  }
    
  .col-9 .card .top {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .col-9 .card .bottom {
    padding: 10px 20px;
  }
    
  .col-9 .card .top .userDetails {
    width: 100%;
    display: flex;
    align-items: center;
  }
    
  .profilepic {
    display: inline-block;
    cursor: pointer;
  }
    
  .profilepic .profile_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background: linear-gradient(to right, red, orange);
    padding: 2px;
    margin-right: 8px;
    cursor: pointer;
  }
    
  .profilepic .profile_img .image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
  }
    
  .profilepic .profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    
  .col-9 .card .top .userDetails h3 {
    /* width: 100%; */
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
  }
    
  .col-9 .card .top .userDetails h3 span {
    font-size: 0.75em;
  }
    
  .col-9 .card .top .userDetails h3 span {
    font-size: 0.75em;
  }
    
  .dot {
    transform: scale(0.6);
    cursor: pointer;
  }
    
  .imgBx {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin: 10px 0 15px;
  }
    
  .actionBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .actionBtns svg {
    cursor: pointer;
  }
    
  .actionBtns .left svg {
    margin-right: 8px;
  }
    
  .likes {
    font-weight: 500;
    margin-top: 5px;
    font-size: 14px;
    color: #4d4d4f;
  }
    
  .message {
    font-weight: 400;
    margin-top: 5px;
    font-size: 14px;
    color: #777;
    line-height: 1.5em;
  }
    
  .message b {
    color: #262626;
  }
    
  .message span {
    cursor: pointer;
    color: #1d92ff;
  }
    
  .comments {
    margin-top: 10px;
    font-weight: 400;
    color: #999;
  }
    
  .addComments {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 10px 0;
  }
    
  .addComments a {
    color: #1d92ffcb;
    font-weight: 500;
  }
    
  .addComments .reaction {
    position: relative;
    font-size: 1.3rem;
    margin-right: 10px;
    color: rgb(88, 88, 88);
  }
    
  input.text {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #262626;
    background: none;
  }
    
  input.text::placeholder {
    color: #777;
  }
    
  .postTime {
    margin-top: 8px;
    font-weight: lighter;
    color: rgb(163, 163, 163);
    font-size: 12px;
    text-transform: uppercase;
  }
    
  a {
    text-decoration: none;
  }
    
  .hidden {
    display: none;
  }
    
  @media screen and (max-width: 1000px) {
    .col-9 {
      width: 100%;
      background: #fafafa;
    }
    
    .col-3 {
      display: none;
    }
  }
    
  @media screen and (max-width: 600px) {
    .container {
      width: 100% !important;
    }
    
    .navbar .container {
      padding: 15px 10px !important;
    }
    
    .col-9 {
      margin-top: 4px;
      min-width: 100%;
    }
    
    .statuses {
      margin-bottom: 0px;
    }
    
    .col-9 .card {
      margin-bottom: 0px;
      width: 100%;
      border: none;
    }
    
    .imgBx {
      position: relative;
      width: 100%;
      min-height: 400px;
      margin: 10px 0 15px;
    }
    
    .searchbar {
      display: none;
    }
  }
    
  .footer .footer-section {
    margin-left: 0.5rem;
    color: #999999;
    font-size: 14px;
    font-family: sans-serif;
  }
    
  .footer a:hover {
    color: #ff0000;
  }