@import "/css/header.css";
@import "/css/section.css";
@import "/css/footer.css";

#outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#inner {
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

*:not(input){  
  text-align: center;
}


a{
  text-decoration-line:none;
  color: black;
}
